{% extends 'base.html.twig' %}


{% block title %}Reporte de Profesionales según rango de fechas de modificación de alguno de sus datos{% endblock %}

{% block body %}

<div class="d-flex aligns-items-center justify-content-center" style="height:80vh">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Listado de Modificaciones</h5>
                    <p>Se generará el listado con los siguientes filtros:</p>
                <form method="post" action="{{ path('report_modificaciones_generar') }}">
                   
                        <label for="cboCircunscripcion" id="lblCircunscripcion">Seleccione una Circunscripción:</label><br>
                        <select class="form-control" id="cboCircunscripcion" name="circunscripcion">
                            {# Dependiendo si el usuario logueado tiene seteada la circunscripción o no decido que mostrar en este combo #}
                            {% if app.user.getCircunscripcion() %}            
                                <option value={{ app.user.getCircunscripcion().getId() }} selected>{{ app.user.getCircunscripcion() }}</option>                              
                            {% else %}
                                <option value="9999" selected>TODAS</option>
                                {% for t in  circunscripciones %}
                                    <option value="{{t.id}}">{{t.circunscripcion}}</option>
                                {% endfor %}
                            {% endif %}                        
                        </select>
                        <br> 
                        <label for="cboColegio" id="lblColegio">Seleccione un Colegio:</label><br>
                        <select class="form-control" id="cboColegio" name="colegio">
                            {# Dependiendo si el usuario logueado tiene seteada la circunscripción o no decido que mostrar en este combo #}
                            {% if app.user.getColegio() %}            
                                <option value={{ app.user.getColegio().getId() }} selected>{{ app.user.getColegio() }}</option>                              
                            {% else %}
                                 {% for h in  colegios %}
                                    <option value="{{h.id}}">{{h.colegio}}</option>
                                {% endfor %}
                                <option value="9999" selected>TODOS</option>       
                            {% endif %}                    
                        </select>                 
                        <br> 
                   
                    
                    <label for="desdeFecha" id="lbldesdeFecha">Fecha Modificación desde: </label>
                    <input name="fDesde" type="date" required="required" value={{hoy}} /> <br>  <br> 
                    <label for="hastaFecha" id="lblhastaFecha">Fecha Modificación hasta: </label> 
                    <input name="fHasta" type="date" required="required" value={{hoy}} /> <br>  <br>                        
                    <br>
                     {#BOTON IMPRIMIR#}
                    <button class="btn btn-lg btn-primary float-end shadow px-2">{{ button_label|default('Imprimir') }}</button>                 

                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){            
            $('#cboCircunscripcion').focus();
        }); 
    </script>  
    
{% endblock %}   