{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.colegio) }}
    </div>
    <div class="col-6">
        {{ form_row(form.circunscripcion) }}
    </div>
</div>   
<div class="row">
    <div class="col-6">
        {{ form_row(form.provincia) }}
    </div>
    <div class="col-6">
        {{ form_row(form.localidad) }}
    </div>
</div>   
<div class="row">
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.correo) }}
    </div>
    <div class="col-6">
        {{ form_row(form.domicilio) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.telefono1) }}
    </div>
    <div class="col-6">
        {{ form_row(form.telefono2) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.caracteresPermitidos) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.estado) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ form_row(form.visible) }}
    </div>
</div>

<hr>
<button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">Cancelar</button>

<button id="btnSave" class="btn btn-primary float-end shadow">{{ button_label|default('Grabar Cambios') }}</button>

{{ form_end(form) }}
