{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <h1 class="text-center">Cambio de Clave de Acceso (Password)</h1>
    
    {% if status != 'SUCCESSFUL' %}
        <div class="formulario row mt-5">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Usuario:</strong> {{usuario.username}}
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_row(form.oldPassword) }}
                                {% if status == 'ERROR' %}
                                    <div class="text-danger mb-3">{{errorMessages}}</div>
                                {% endif %}
                            {{ form_row(form.newPassword.first) }}
                            {{ form_row(form.newPassword.second) }}
                    </div>
                </div>

                    <a class="btn btn-secondary float-start shadow volver" href="{{ path('inicio') }}">Cancelar</a>
                    <button id="btnSave" class="btn btn-primary float-end shadow">{{ button_label|default('Grabar Cambios') }}</button>
                {{ form_end(form) }}

            </div>
        </div>
    {% else %}
        <div class="formulario row mt-5">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Usuario:</strong> {{usuario.username}}
                    </div>
                    <div class="card-body text-center">
                        <strong>Su clave ha sido cambiada con éxito!</strong>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

